.acct-tabs {
    border-right: 1px solid rgba(51, 51, 51, 0.10);
    height: 89vh;
}

.del-acct-btn{
    margin-top: -1em;
}

img {
    max-height:  150px !important;
    border: 2px solid #fff;
    display: inline;
}