.dropdown-toggle, .dropdown-iem {
    cursor: pointer;
}

.dropdown-menu{
    right: -1em !important;
    left: auto !important; 
}

img {
    max-height:  50px !important;
    border: 2px solid #fff;
    display: inline;
}