img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.img-unapproved{
    opacity: 0.2;
}

.img-container {
    text-align: center;
    display: block;
  }

.nv-file-over{
    border: dotted 3px red;
}

input[type=file]{
    color: transparent;
}

/* Centered text */
.centered {
    position: absolute;
    color: red;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }